# for idea/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/deployment.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/workspace.xml
.idea/dataSources/*
out/
web/WEB-INF/lib/*
web/WEB-INF/classes/
src/java/com/bupt/ctrl/test/*

# for eclipse:
.settings/
.classpath
.project
bin/
target/

# for mac 
.DS_Store


